<html>
  <head>
    
  </head>
  <body>
    <!--incluye el archivo stylesheets/application.scss para los estilos-->
     <%= render 'layouts/head' %>

     <nav class="navbar navbar-light bg-faded">
        <div class="navbar-brand float-xs-right">
              <%= link_to "Log in", 'login' %>
        </div>
      </nav>
    <div class="container body-content offset-md-1">
            
        
    <div class="col-md-5 offset-md-0 hidden-xs-down hidden-sm-down">
        <img src="<%= asset_path 'fall.jpg'%>" class="img-fluid img-thumbnail">
    </div>
        
       <div class="col-md-6 offset-md-1">
            <div class="button-margin hidden-xs-down hidden-sm-down"><br><br></div>
          <form>
            <div class="form-group row col-md-8 offset-md-1">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa-lg"></i>
                </span>             
                <input type="email" class="form-control octicon-mail" id="ienputEmail1" placeholder="Email">
              </div>
            </div> 
            <div class="form-group row col-md-8 offset-md-1">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa-lg"></i>
                </span>             
                <input type="email" class="form-control octicon-mail" id="ienputEmail1" placeholder="Confirm your email">
              </div>
            </div>
            
           <div class="form-group row offset-md-1">
              <div class="col-sm-12 col-md-10">
                <a href="profile" class="btn btn-success col-md-10 col-sm-12 col-xs-12 color-white" role="button"> 
                  Continue
                </a>
             </div>
            </div>
        </form>
        
        
      </div>  
    </div>  
  </body>
</html>