<html>
  <head>
    
  </head>
  <body>
    <!--incluye el archivo stylesheets/application.scss para los estilos-->
     <%= render 'layouts/head' %>
    
      <nav class="navbar navbar-light bg-faded">
        <div class="navbar-brand float-xs-right">
              <%= link_to "Nombre usuario", 'controlPanel' %>
        </div>
      </nav>
      
    <div class="container body-content offset-md-1">
    
      <div class="col-md-5 offset-md-0 hidden-xs-down hidden-sm-down">
          <img src="<%= asset_path 'fall.jpg'%>" class="img-fluid img-thumbnail">
      </div>
      
    <div class="col-md-6 offset-md-1">  
      <form>
          
        <div class="form-group row col-md-8 offset-md-1">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock fa-fw"></i>
            </span>             
            <input type="password" class="form-control" id="restoreOld" placeholder="Old password">
          </div>
        </div>      
          
          
        <div class="form-group row col-md-8 offset-md-1">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock fa-fw"></i>
            </span>             
            <input type="password" class="form-control" id="restoreNew" placeholder="New password">
          </div>
        </div>   
        
        <div class="form-group row col-md-8 offset-md-1">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock fa-fw"></i>
            </span>             
            <input type="password" class="form-control button-margin" id="repeatPassword" placeholder="Repeat your password">
          </div>
        </div> 
        
        
          
          <div class="form-group row offset-md-1">
              <div class="col-sm-12 col-md-10">
              <a href="controlPanel" class="btn btn-success col-md-10 col-sm-12 col-xs-12 color-white" role="button"> 
                  Confirm
              </a>
             </div>
            </div>
          
          
          <div class="form-group row offset-md-1">
              <div class="col-sm-12 col-md-10">
              <a href="controlPanel" class="btn btn-secondary col-md-10 col-sm-12 col-xs-12" role="button"> 
                  Cancel
              </a>
             </div>
            </div>
        
        </form>
        
        
      </div>  
    </div>  
    
  </body>
</html>